.header {
    height: rem(60px);
    width: 100%;
    background-color: #043873;
    position: fixed;
    z-index: 100;
}

.inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #ADD0FF !important;
    font-weight: 500 !important;
    font-size: rem(20px) !important;
    text-transform: uppercase !important;
}

.title_burger {
    color: #043873 !important;
    font-weight: 500 !important;
    font-size: rem(20px) !important;
    text-transform: uppercase !important;
}

.link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm) ;
    text-decoration: none;
    color: light-dark(#ADD0FF, var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;

    @mixin hover {
        color: #043873;
        background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
}

.link_burger {
    color: #043873;
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    text-decoration: none;
    font-size: var(--mantine-font-size-lg);
    font-weight: 500;
}

.linkLabel {
    margin-right: rem(5px);
}